@import './base.css';


a,
.green {
  text-decoration: none;
  color: rgb(251, 251, 251);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 31%, 0.355);
  }
}

@media (min-width: 1024px) {
}
