

.button-add-to-favorites {
  @include button-style($primary-color, $secondary-color);
}


.card {
  margin-top: 3rem; 
  display: flex; 
  justify-content: center;
  margin-bottom: 6rem;   
}

button {
  background-color: $primary-color;
  color: $text-color-light;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary-color;
  }
}

.movie-layout {
  display: flex;
  height: 150vh;

  .image-section {
    flex: 1;
	height: 100%;
	border-radius: 20px;
    background-color: $background-light;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .text-section {
    flex: 1;
    padding: 20px;
    background-color: $background-dark;
    overflow-y: auto;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }

    .info-box {
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 10px;
      background-color: $info-box-background;

      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  }
}


a, .router-link, .router-link-active {
	color: #f1efef;
	text-decoration: none;

	&:hover {
		color: black;
	}
}



.chip {
	display: inline-flex;
	align-items: center;
	padding: 4px 8px;
	border-radius: 14px;
	background-color: $info-box-background;
	color: white;
	font-size: 1rem;
	margin: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }



.router-view {
	transition: all 0.5s ease;
  }

  


  //footer

  