//@color_variables

$red: red;
$green: green;
$white: #fcfafa;
$color_primmary: #b69191;
$color_secondary: #333;
$color_gradient_first: #000000;
$primary-color: #15100f;
$secondary-color: #6a5a54;
$button-padding: 10px;
$border-radius: 5px;
$primary-color: #909090;
$secondary-color: #8a8989;
$background-light: #5f5555;
$background-dark: #e6e6e6;
$card-background: #423d3d;
$box-shadow-color: rgba(6, 1, 1, 0.677);
$border-color: #555353;
$info-box-background: #a72c2c;
$text-color-light: $white;
$text-color-dark: $color_secondary;
$hover-blur: 3px;
$accent-color: #9d7878;        
$disabled-color: #b8b8b8;  